{% extends "back/layout/layout.html" %}

{% block contenido %}
<div class="col-md-12">
    {% with mensajesFlash = get_flashed_messages(with_categories=true) %}
        {% if mensajesFlash %}
            {% for categoria, mensaje in mensajesFlash %}
                <div class="alert alert-{{ categoria }}" role="alert">
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="alert alert-primary">
        <h2>Contactos</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form action="/contacto_post" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ formulario.nombre.label() }}
                        {{ formulario.nombre(class="form-control") }}
                        {% if formulario.nombre.errors %}
                            <ul class="text-danger">
                            {% for error in formulario.nombre.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-12">
                        {{ formulario.telefono.label() }}
                        {{ formulario.telefono(class="form-control", type="number") }}
                        {% if formulario.telefono.errors %}
                            <ul class="text-danger">
                            {% for error in formulario.telefono.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-12">
                        {{ formulario.email.label() }}
                        {{ formulario.email(class="form-control") }}
                        {% if formulario.email.errors %}
                            <ul class="text-danger">
                            {% for error in formulario.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <br>
                {{ formulario.submit(class="btn btn-primary") }}
                <!--
                    Para evitar ataques CSRF generamos un token mediante la librería WTForms. Para que se genere, previamente debe estar declarada app.secret_key
                -->
                {{ formulario.hidden_tag() }}
            </form>
        </div>
        <div class="col-md-8">
            <table class="table table-s table-hover table-striped">
                <thead>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>TELÉFONO</th>
                    <th>EMAIL</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    {% for contacto in contactos %}
                        <tr>
                            <td>{{ contacto['id'] }}</td>
                            <td>{{ contacto['nombre'] }}</td>
                            <td>{{ contacto['telefono'] }}</td>
                            <td>{{ contacto['email'] }}</td>
                            <td><a class="btn btn-success" href="/contacto_update/{{ contacto['id'] }}">Editar</a></td>
                            <td><a class="btn btn-danger btn-delete" href="/contacto_delete/{{ contacto['id'] }}">Borrar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}