<!--
    Se llaman algunas funciones Bootstrap para renderizar los campos de este formulario.
    A excepción del presente, todos los formularios de este proyecto no se renderizan con funciones Bootstrap. En el presente formulario sí se hace porque así lo marcaba el tutorial seguido para armar el campo de teléfono:
        1. https://www.twilio.com/blog/a-phone-number-input-field-for-flask-forms
        2. https://github.com/miguelgrinberg/flask-phone-input
-->

{% extends "back/layout/layout.html" %}
{% from 'bootstrap/form.html' import render_field, render_hidden_errors %}

{% block contenido %}
<div class="col-md-12">
    {% with mensajesFlash = get_flashed_messages(with_categories=true) %}
        {% if mensajesFlash %}
            {% for categoria, mensaje in mensajesFlash %}
                <div class="alert alert-{{ categoria }}" role="alert">
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="alert alert-primary">
        <h2>Contactos</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form action="/contacto_post" method="POST">
                <div class="form-row">
                    <div class="text-danger">
                        {{ render_hidden_errors(formulario) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ render_field(formulario.nombre) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ render_field(formulario.telefono) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ render_field(formulario.email) }}
                    </div>
                </div>
                <br>
                {{ render_field(formulario.submit) }}
                <!--
                    Para evitar ataques CSRF generamos un token mediante la librería WTForms. Para que se genere, previamente debe estar declarada app.secret_key
                -->
                {{ formulario.hidden_tag() }}
            </form>
        </div>
        <div class="col-md-8">
            <table class="table table-s table-hover table-striped">
                <thead>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>TELÉFONO</th>
                    <th>EMAIL</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    {% for contacto in contactos %}
                        <tr>
                            <td>{{ contacto['id'] }}</td>
                            <td>{{ contacto['nombre'] }}</td>
                            <td>{{ contacto['telefono'] }}</td>
                            <td>{{ contacto['email'] }}</td>
                            <td><a class="btn btn-success" href="/contacto_update/{{ contacto['id'] }}">Editar</a></td>
                            <td><a class="btn btn-danger btn-delete" href="/contacto_delete/{{ contacto['id'] }}">Borrar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

<!-- Agregamos JS especial para esta vista -->
{% block scripts %}
    {{ super() }}
    <script>
        var wtf_phone_field = document.getElementById('telefono');
        wtf_phone_field.style.position = 'absolute';
        wtf_phone_field.style.top = '-9999px';
        wtf_phone_field.style.left = '-9999px';
        wtf_phone_field.parentElement.insertAdjacentHTML('beforeend', '<div><input type="tel" id="_phone"></div>');
        var fancy_phone_field = document.getElementById('_phone');
        var fancy_phone_iti = window.intlTelInput(fancy_phone_field, {
            separateDialCode: true,
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
        });
        fancy_phone_iti.setNumber(wtf_phone_field.value);
        fancy_phone_field.addEventListener('blur', function() {
            wtf_phone_field.value = fancy_phone_iti.getNumber();
        });
    </script>
{% endblock %}
