{% extends "layout.html" %}

{% block contenido %}
<div class="col-md-12">
    {% with mensajesFlash = get_flashed_messages(with_categories=true) %}
        {% if mensajesFlash %}
            {% for categoria, mensaje in mensajesFlash %}
                <div class="alert alert-{{ categoria }}" role="alert">
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="alert alert-primary">
        <h2>Editando Test WTF</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="/testwtf_update/{{ testwtf['id'] }}" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-12 mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ testwtf['nombre'] }}">
                    </div>
                    <div class="form-group col-md-12 mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ testwtf['email'] }}">
                    </div>
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Actualizar">
            </form>
        </div>
    </div>
</div>
{% endblock %}